#pokedex{
  margin: auto;
  text-align: center;
  position: relative;
  width: 500px;
}

#pokedexIMG{
  left: 50%;
  margin-left: -250px;
  position: absolute;
  z-index: -1;
}

#photo{
  left: 50%;
  margin-left: -75px;
  position: absolute;
  bottom: 190px;
}








#name, #pokeID{
  color: white;
  font-weight: bolder;
  font-size: 30px;
  padding-top: 40px;
}

#pokeID{
  font-size: 20px;
}







ul{
  padding-top: 250px;
  list-style-type: none;
  text-align: left;
}

ul li{
  color: white;
  margin: 5px;
  padding: 5px;
  width: 100px;
  text-align: center;
}





#vorigeEvol{
  position: absolute;
  bottom: 10px;
}
